body, html {
  height: 100%;
}

body {
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 20em;
}

#flash1 {
  background-color: red;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#flash2 {
  background-color: blue;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.dot {
  border-right: 4px dotted white;
}

.table {
  display: table;
  margin-bottom: 0;
  height: 100%;
  position: relative;
  z-index: 2;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 50% !important;
}
