body {
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 20em;
}


#flash1 {
  background-color: red;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#flash2 {
  background-color: blue;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
